<div class="container">
  <div class="card-form question-trim">
    <div class="card-form-infos">
      <%= render 'shared/tabs_new_post' %>
      <em><p>Ask your neighbours something you are unsure about</p></em>
      <%= simple_form_for(@question) do |f| %>
      <strong><%= f.input :title %></strong>
      <strong><%= f.input :content, :label => "Description" %></strong>
      <%= f.submit :submit, class: "btn btn-info", value: "Submit" %>
    <% end %>
    </div>
  </div>
</div>
