  <div class="row">
    <div class="col-xs-12 col-md-12">
      <div class="question-card">

        <div class="question-card-avatar">
          <%= cl_image_tag @question.user.photo.url(:bright_face), class: "post-show-avatar" %>
          <% if @question.user.votes >= 30 %>
          <p><%= @question.user.first_name %><span>🏆</span></p>
          <% else %>
          <p><%= @question.user.first_name %></p>
          <% end %>

          <p><%= @question.user.votes %><i class="fas fa-thumbs-up"></i></p>
        </div>

        <div class="question-card-content">
          <div class="question-card-header">
            <p><%= @question.title %></p>
          </div>

          <div class="question-card-body">
            <p><%= @question.content %></p>
          </div>

          <div class="question-card-footer">
            <p>Posted <%= @question.created_at.to_formatted_s(:long_ordinal) %></p>
          </div>

        </div>
        <!-- <div class="question-card-upvote">
          <i class="far fa-thumbs-up"></i>
        </div> -->
      </div>
    </div>
  </div>
  <%= render 'shared/comments_section', comment: @comment, post: @post %>
