<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <div class="question-card">
        <div class="question-card-avatar">
          <%= cl_image_tag @question.user.photo, class: "post-show-avatar" %>
          <p><%= @question.user.first_name %></p>
        </div>
        <div>
          <div class="question-card-header">
            <p><%= @question.title %></p>
          </div>
          <div class="question-card-body">
            <p><%= @question.content %></p>
          </div>
          <div class="question-card-footer">
            <p>Posted <%= @question.created_at.to_formatted_s(:long_ordinal) %></p>
          </div>
        </div>
        <!-- <div class="question-card-upvote">
          <i class="far fa-thumbs-up"></i>
        </div> -->
      </div>
    </div>
  </div>


  <div class="comments-section">
    <div class="row">
      <% @question.comments.each do |comment| %>
        <div class="col-xs-12 col-md-12">
          <%= render 'shared/comment', comment: comment %>
        </div>
      <% end %>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-12">
        <div>
          <%= simple_form_for([@post, @comment]) do |f| %>
            <%= f.input :content %>
            <%= f.submit "Post", class: "btn btn-info" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
