<%= link_to question_path(post),  class: "text-dec-none" do %>
  <div class="card-post question">
    <div class="card-post-content">
      <div class="card-post-header">
        <%= image_tag("question.png", class: "label") %>
        <h2><%= post.title %></h2>
      </div>
      <div class="card-post-body">
          <p><%= post.content %></p>
      </div>
      <div class="card-post-footer-question">
        <div class="card-post-footer">
          <%= cl_image_tag post.user.photo.url(:bright_face), class: "post-show-avatar inline" %>

          <p><%= post.user.first_name %></p>
        </div>
        <div>
          <p><%= post.comments.count %> answers</p>
        </div>
      </div>
    </div>
  </div>
<% end %>
