<%= link_to task_path(post),  class: "text-dec-none" do %>
<div class="card-post task">


  <div class="card-post-content">
    <div class="card-post-upper-part">
      <div class="card-post-header">
        <%= image_tag("task.png", class: "label") %>
        <h2><%= post.title %></h2>
      </div>
      <div class="card-post-body">
        <p><%= post.content %></p>
      </div>
    </div>
    <div class="card-post-footer">

      <%= cl_image_tag post.user.photo.url(:bright_face), class: "post-show-avatar inline" %>

      <div class="dropdown">
        <% if post.user.votes >= 30 %>
        <h5><%= post.user.first_name %>🏆</h5>
        <% else %>
        <h5><%= post.user.first_name %></h5>
        <% end %>
        <div class="dropdown-content">
          <% if post.user.content.nil? %>
          <p> No information about me currently</p>
          <% else %>
          <p><strong> About me: </strong><%= post.user.content %></p>
          <% end %>
        </div>
      </div>

    </div>
  </div>

  <div class="card-post-photo">
    <% if post.photo? %>
    <%= cl_image_tag post.photo, class: "post_image" %>
    <% else %>
    <%= image_tag "https://images.unsplash.com/photo-1526891993611-eca1e7d7b582?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80", class: "post_image" %>
    <% end %>
    <p>
      <% if post.done %>
      <%= "Completed " %><i class="fas fa-check check-green"></i>
      <% else %>
      <%= "Still need a hand!" %>
      <% end %>
    </p>
  </div>
</div>
<% end %>
