<div class='container'>

  <h1> Activity Near You </h1>

  <%= link_to "Create a new post", new_task_path, class: "btn btn-info sticky-button" %>
  <div class='row'>
    <div class="col-md-4">
      <div class="card-filter text-dec-none sticky-filter">
        <strong><h2 class="card-filter-infos" id="card-filter-info-header">Filter by: </h2></strong>
        <strong><p class="card-filter-inside"> <%= link_to "Display All", feeds_path %> </p></strong>
        <p class="card-filter-inside"> <%= link_to "Events", events_path %> </p>
        <p class="card-filter-inside"> <%= link_to "Tasks", tasks_path %></p>
        <p class="card-filter-inside"> <%= link_to "Questions", questions_path %> </p>
      </div>
      <div class="card-map text-dec-none sticky-map">
        <strong><h2 class="card-map-infos" id="card-map-info-header">You are located here: </h2></strong>


        <p class="card-map-inside"> There are 14 localheroes near you </p>
      </div>
    </div>

    <div class="col-md-8">
      <% @posts.each do |post| %>
      <% if post.type == "Event" %>
      <%= render 'feeds/events_card', post: post %>

      <% elsif post.type == "Question" %>
      <%= render 'feeds/questions_card', post: post %>

      <% else %>
      <%= render 'feeds/tasks_card', post: post %>
      <% end %>
      <% end %>
    </div>

  </div>
</div>

        <div
        id="map"
        style="width: 100%;
        height: 300px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        ></div>
