<div class="sign_up">
  <div class="container">
    <div class="sign_up-card">
      <h2>Sign up</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <div class="row">
          <div class="col">
            <%= f.input :email,
            required: true,
            autofocus: true,
            input_html: { autocomplete: "email" }%>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= f.input :first_name,
            required: true,
            input_html: { autocomplete: "first_name" }%>
          </div>
          <div class="col">
            <%= f.input :last_name,
            required: true,
            input_html: { autocomplete: "last_name" }%>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= f.input :address,
            required: true,
            input_html: { autocomplete: "address" }%>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= f.input :password,
            required: true,
            hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
            input_html: { autocomplete: "new-password" } %>
          </div>
          <div class="col">
            <%= f.input :password_confirmation,
            required: true,
            input_html: { autocomplete: "new-password" } %>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= f.input :photo, input_html: { class: 'hidden' }, label_html:
            { class: 'upload-photo'}, label: '📷 Upload a photo'%>
            <%= f.input :photo_cache, as: :hidden %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-actions">
          <div class="col">
            <%= f.button :submit, "Sign up", class: "btn btn-info" %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
</div>
