<div class="comment-card">
  <div class="comment-card-avatar">
    <%= cl_image_tag comment.user.photo.url(:bright_face), class: "post-show-avatar" %>
    <p><%= comment.user.first_name %></p>
  </div>
  <div>
    <div class="comment-card-body">
      <p><%= comment.content %></p>
    </div>
    <div class="comment-card-footer">
      <p>Posted <%= comment.created_at.to_formatted_s(:long_ordinal) %></p>
    </div>
  </div>
  <div class="comment-card-upvote">
      <%= render 'shared/upvote', comment: comment %>
  </div>
</div>

