<div class="navbar bg-white py-2 px-3">
    <%= link_to feeds_path, class: "navbar-logo" do %>
    <div class="nav-bar-right d-flex align-items-center justify-content-around pad">
      <%= image_tag "logo.png", height: 50 %>
      <h3 class="local-hero">Local Hero</h3>
    </div>
    <% end %>

  <div class="nav-bar-right d-flex align-items-center justify-content-around" style="width: 360px" >
    <div class="button-right">
        <%= link_to "Howdy Neighbours", new_task_path, class: "btn btn-info wide-button" %>
        </div>
    <% if user_signed_in? %>

    <div class="d-inline-flex justify-content-around" style="width: 100px">

        <%= link_to "#", class: "px-3 d-none d-sm-block" do %>
          <i class="fas fa-user"></i>
        <% end %>

      <div class="dropdown d-none d-sm-block">
        <i class="fas fa-bell" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <% if current_user.notifications.unread.present? %>
            <i class="fas fa-circle"></i>
          <% end %>
        </i>

        <!-- <#%= current_user.notifications.unread.count %> -->
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <% if current_user.notifications.unread.present? %>
            <% current_user.notifications.unread.each do |n| %>
              <%= link_to notification_path(n), method: :patch, class: "dropdown-item" do %>
                <i class='far fa-comment'></i> <%= n.actor.first_name %> <%= n.action %> on your <%= n.post.type.downcase %>
            <% end %>
            <% end %>
            <% else %>
            <%= link_to "You don't have any notifications", "#", class: "dropdown-item" %>
            <% end %>
        </div>

      </div>
    </div>


    <div class="dropdown  d-none d-sm-block">
      <%= cl_image_tag current_user.photo.url(:bright_face), alt:"avatar", id: "dropdownMenuButton", data: { toggle:"dropdown" }, aria: { haspopup:"true", expanded: "false" } %>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">

        <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", method: :delete %>
      </div>
    </div>
  </div>
  <div class="dropdown burger d-block d-sm-none">
    <i class="fas fa-bars" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
     <%= link_to "Action", "#", class: "dropdown-item" %>
     <%= link_to "Another action", "#", class: "dropdown-item" %>
     <%= link_to "Something else here", "#", class: "dropdown-item" %>
   </div>
 </div>

  <% else %>

    <%= link_to "Login", new_user_session_path, class: "px-3 d-none d-sm-block" %>
    <%= link_to "Register", new_user_registration_path, class: "px-3 d-none d-sm-block" %>
    <div class="dropdown  d-none d-sm-block">

  <% end %>

    </div>
  </div>
  <div class="dropdown burger d-block d-sm-none">
    <i class="fas fa-bars" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
     <%= link_to "Action", "#", class: "dropdown-item" %>
     <%= link_to "Another action", "#", class: "dropdown-item" %>
     <%= link_to "Something else here", "#", class: "dropdown-item" %>
   </div>
 </div>

</div>
