<div class="card-filter sticky-filter">
  <h3 class="card-filter-inside <%= 'active-sidebar' if params[:controller] == 'feeds' && params[:action] == 'user_index' %>"> <%= link_to "My Posts", my_posts_path %> </h3>
  <h3 class="card-filter-inside <%= 'active-sidebar' if params[:controller] == 'feeds' && params[:action] == 'index' %>"> <%= link_to "All Posts", feeds_path %> </h3>
  <h3 class="card-filter-inside <%= 'active-sidebar' if params[:controller] == 'tasks'%>"> <%= link_to "Lend A Hand", tasks_path %></h3>
  <h3 class="card-filter-inside <%= 'active-sidebar' if params[:controller] == 'questions'%>"> <%= link_to "Ask a Neighbour", questions_path %> </h3>
  <h3 class="card-filter-inside <%= 'active-sidebar' if params[:controller] == 'events'%>"> <%= link_to "Local Events", events_path %> </h3>

  <div class="card-map text-dec-none">
    <div class="card-map text-dec-none">
      <% if @markers.present? %>
      <div
      id="map"
      data-markers="<%= @markers.to_json %>"
      data-eventmarkers="<%= @eventmarkers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
      <% end %>
      <p class="card-map-inside" style="font-size:12px"> There are <%= User.count %> localheroes near you </p>
    </div>

    <div class="flip-card card-leaderboard">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <strong><h2 class="card-leaderboard-infos" id="card-leaderboard-info-header">Top localheroes:</h2></strong>
          <ol>
            <% @top_localheroes.each do |localhero| %>
            <li><strong><%= localhero.first_name %> <%= localhero.last_name %></strong> : <%= localhero.votes %> votes</li>
            <% end %>
          </ol>
        </div>

        <div class="flip-card-back">
          <strong><h2 class="card-leaderboard-infos" id="card-leaderboard-info-header">Recently joined: </h2></strong>
          <ol>
            <% @recent_localheroes.each do |localhero| %>
            <li><strong><%= localhero.first_name %> <%= localhero.last_name %></strong></li>
            <% end %>
          </ol>
        </div>
      </div>
    </div>
    </div>
  </div>
