<div class="card-filter sticky-filter">
  <%= link_to "Create a new post", new_task_path, class: "btn btn-info sticky-button wide-button" %>
  <!-- <strong><h2 class="card-filter-infos" id="card-filter-info-header">Filter by: </h2></strong> -->
  <strong><h2 class="card-filter-inside <%= 'active-sidebar' if params[:controller] == 'feeds' && params[:action] == 'index' %>"> <%= link_to "All", feeds_path %> </h2></strong>
  <h3 class="card-filter-inside <%= 'active-sidebar' if params[:controller] == 'events'%>"> <%= link_to "Events", events_path %> </h3>
  <h3 class="card-filter-inside <%= 'active-sidebar' if params[:controller] == 'tasks'%>"> <%= link_to "Tasks", tasks_path %></h3>
  <h3 class="card-filter-inside <%= 'active-sidebar' if params[:controller] == 'questions'%>"> <%= link_to "Questions", questions_path %> </h3>
  <strong><h2 class="card-filter-inside <%= 'active-sidebar' if params[:controller] == 'feeds' && params[:action] == 'user_index' %>"> <%= link_to "My posts", my_posts_path %> </h2></strong>

  <div class="card-map text-dec-none sticky-map">
    <strong><h2 class="card-map-infos" id="card-map-info-header">You are located here: </h2></strong>
    <div class="card-map text-dec-none sticky-map">
      <strong><h2 class="card-map-infos" id="card-map-info-header">Your neighbourhood </h2></strong>
      <% if @markers.present? %>
      <div
      id="map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
      <% end %>
      <p class="card-map-inside"> There are <%= User.count %> localheroes near you </p>
    </div>

    <div class="flip-card card-leaderboard sticky-leaderboard">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <strong><h2 class="card-leaderboard-infos" id="card-leaderboard-info-header">Top localheroes: </h2></strong>
          <ol>
            <% @top_localheroes.each do |localhero| %>
            <li><strong><%= localhero.first_name %> <%= localhero.last_name %></strong> : <%= localhero.votes %> votes</li>
            <% end %>
          </ol>
        </div>

        <div class="flip-card-back">
          <strong><h2 class="card-leaderboard-infos" id="card-leaderboard-info-header">Recently joined: </h2></strong>
          <ol>
            <% @recent_localheroes.each do |localhero| %>
            <li><strong><%= localhero.first_name %> <%= localhero.last_name %></strong></li>
            <% end %>
          </ol>
        </div>
      </div>
    </div>
    </div>
  </div>
