<div class="card-filter sticky-filter">

  <%= link_to my_posts_path do %>
    <h3 class="card-filter-inside <%= 'active-sidebar' if params[:controller] == 'feeds' && params[:action] == 'user_index' %>">
     My Posts</h3>
  <% end %>

  <%= link_to feeds_path do %>
    <h3 class="card-filter-inside <%= 'active-sidebar' if params[:controller] == 'feeds' && params[:action] == 'index' %>">All Posts</h3>
  <% end %>

  <%= link_to  tasks_path do %>
    <h3 class="card-filter-inside <%= 'active-sidebar' if params[:controller] == 'tasks'%>">Lend A Hand</h3>
  <% end %>

  <%= link_to questions_path do %>
    <h3 class="card-filter-inside <%= 'active-sidebar' if params[:controller] == 'questions'%>">Ask a Neighbour</h3>
  <% end %>

  <%= link_to events_path do %>
    <h3 class="card-filter-inside last <%= 'active-sidebar' if params[:controller] == 'events'%>">Local Events</h3>
  <% end %>

  <div class="card-map text-dec-none">
    <div class="card-map text-dec-none">
      <% if @markers.present? %>
      <div
      id="map"
      data-markers="<%= @markers.to_json %>"
      data-eventmarkers="<%= @eventmarkers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
      <% end %>
      <p class="card-map-inside" style="font-size:12px"> There are <%= User.count %> localheroes near you </p>
    </div>


    <div class="card-map text-dec-none">
      <div class="card-map text-dec-none">
          <strong><h2 class="card-leaderboard-infos" id="card-leaderboard-info-header">Top localheroes:</h2></strong>
          <ol>
            <% @top_localheroes.each do |localhero| %>
            <li><strong><%= localhero.first_name %> <%= localhero.last_name %></strong> : <%= localhero.votes %> votes</li>
            <% end %>
          </ol>
      </div>
    </div>
  </div>
</div>
