<div class="container">
  <div class="card-form">
    <div class="card-form-infos">
      <%= render 'shared/tabs_new_post' %>
      <em><p>Create a new local gathering for your community</p></em>
        <%= simple_form_for(@event) do |f| %>
          <strong><%= f.input :title %></strong>
          <strong><%= f.input :content, :label => "Description" %></strong>
          <strong><%= f.input :starts_at, :label => "Your event begins at" %></strong>
          <strong><%= f.input :address, :label => "Event location" %></strong>

          <%= f.input :photo, input_html: { class: 'hidden' }, label_html: { class: 'upload-photo'}, label: '📷 Upload a photo' %>
          <%= f.input :photo_cache, as: :hidden %>
          <%= f.submit :submit, class: "btn btn-info" %>
        <% end %>
    </div>
  </div>
</div>
