<div class="event-card-1">
  <%= cl_image_tag @event.photo %>
  <div class="event-card-body">
    <h4><%= @event.title %></h4>
    <p><%= @event.starts_at.to_formatted_s(:long_ordinal) %></p>
    <p><%= @event.address %></p>
   <div class="gridcontainer">
      <% if @event_attendance# %>
     <p><strong>You</strong> and <strong><%= @event.participants.count %></strong> neighbours are &nbsp</p>
       <%= link_to "going" , attendance_path(@event_attendance), class: "going", method: :delete %>
       &nbsp<i class="far fa-calendar-check"></i>
   </div>
   <div class="gridcontainer2">
     <% else %>
     <p><strong><%= @event.participants.count %></strong> neighbours are going!</p>
       <p><%= link_to "I am going!", event_attendances_path(@event),class: "btn btn-outline-secondary", method: :post %></p>
     <% end %>
     <%= render 'shared/upvote', comment: @event %>

  </div>
  </div>
</div>

<div class="event-card-2">
  <div class="event-card-header">
    <p>Details</p>
  </div>
  <p><%= @event.content %></p>
</div>
