<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1528605248644-14dd04022da1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);">
<div class="container-fluid">
  <div class="navbar-landing">
    <div>
     <!--  <img src="https://cdn3.iconfinder.com/data/icons/human-behaviour-and-situations-part-1/400/Popular-19-512.png" alt="Logo" class="logo"> --><span class="local-hero">Local Hero</span>
    </div>
    <div>
      <span><%= link_to "Login", new_user_session_path, class: "landing-login" %></span>
    </div>

  </div>
</div>
  <div class="container">
    <div class="row">
      <div class="landing-text col-md-6 offset-md-3">

        <h1 id="landing-title">The easiest way to connect with your neighbours</h1>
        <br>
        <%= link_to "Meet your community", new_user_registration_path,  class: "btn btn-info join-button" %>
      </div>
    </div>
    <div class="row how-it-works">
      <div class="col icon-card">
        <br>
          <%= image_tag "https://image.flaticon.com/icons/svg/1256/1256675.svg", class: "info-icon" %>
          <br>
          <span class="icon-card-header">Connect </span></p>
          <div class="icon-card-content">Discover <strong> content <br> only from people within <br> 1 km </strong>of your home</strong></div>
        </div>
        <div class="col icon-card">
            <br>
            <%= image_tag "https://image.flaticon.com/icons/svg/1537/1537522.svg", class: "info-icon" %>
            <br>
            <span class="icon-card-header">Reach out</span></p>
            <div class="icon-card-content"> Hosting a local <strong>get-together</strong>? <br> Need a <strong>hand?</strong> <br><strong>Unsure about something?</strong> </div>
          </div>
          <div class="col icon-card">
              <br>
              <%= image_tag "https://image.flaticon.com/icons/svg/825/825574.svg", class: "info-icon" %>
              <br>
              <span class="icon-card-header">Earn a reputation</span></p>
              <div class="icon-card-content"><strong>Upvote good samaritans</strong> or become a local hero in <strong>your community</strong> </div>
              </div>
            </div>
          </div>
        </div>
