<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Local Hero</title>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>

  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_pack_tag 'application', media: 'all' %>
</head>
<body>
  <!-- This is in the show -->
  <%= render 'shared/navbar_new' %>
  <%= render 'shared/flashes' %>

  <div class="container">
    <div class="row">
      <div class="col-3">
        <%= render 'shared/sidebar'%>
      </div>
      <div class="col-9 add-space-show">
        <%= yield %>
      </div>
    </div>
  </div>
  <%= javascript_include_tag 'application' %>
  <%= javascript_pack_tag 'application' %>
</body>
</html>

